---
import Resume from '../components/Resume.svelte';
import data from '../content/resume.json';
import "../styles/global.css";
---

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{data.name}</title>
    <script is:inline>
      const storedTheme = localStorage.getItem('theme');
      const prefersDark = window.matchMedia('(prefers-color-scheme: dark)').matches;
      const useDarkTheme = storedTheme ? storedTheme === 'dark' : prefersDark;
      document.documentElement.classList.toggle('dark', useDarkTheme);
    </script>
  </head>
  <body>
    <main>
      <Resume client:load data={data} />
    </main>
  </body>
</html>
